<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiyi.dao.MealMapper">

  <resultMap id="BaseResultMap" type="com.haiyi.domain.Meal" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="memey" property="memey" jdbcType="DECIMAL" />
      <result column="gift" property="gift" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Base_Column_List" >
      id,
      name,
      memey,
      gift
  </sql>

  <!--根据Id查询-->
  <select id="findAll" resultMap="BaseResultMap"  >
      select <include refid="Base_Column_List" /> from meal
  </select>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from meal where id = #{id,jdbcType=INTEGER}
  </select>

  
 <!--  多条件查询
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.haiyi.query.MealQuery">
      select <include refid="Base_Column_List" /> from meal
      <trim prefix="where" prefixOverrides="and |or ">
         <if test="name != null and name != ''">
            <bind name="likeName" value="'%' + _parameter.name + '%'" />
            and name like #{likeName,jdbcType=VARCHAR}
         </if>
      </trim>
      order by id DESC
  </select>-->

    <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.haiyi.query.MealQuery">
        select <include refid="Base_Column_List" /> from meal
    </select>
  
  
  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from meal where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from meal where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>

  <!--部分字段允许为空-->
  <insert id="add" parameterType="com.haiyi.domain.Meal" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
    insert into meal
    <trim prefix="(" suffix=")" suffixOverrides="," >
        id,
        name,
        memey,
        <if test="gift != null" >
            gift
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id,jdbcType=INTEGER},
        #{name,jdbcType=VARCHAR},
        #{memey,jdbcType=DECIMAL},
        <if test="gift != null" >
            #{gift,jdbcType=DECIMAL},
        </if>
    </trim>
  </insert>
  
  <!--更新--> 
  <update id="update" parameterType="com.haiyi.domain.Meal" >
      update meal
      <set>
          <if test="name != null and name != ''" >
              name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="memey != null" >
              memey = #{memey,jdbcType=DECIMAL},
          </if>
          <if test="gift != null" >
              gift = #{gift,jdbcType=DECIMAL},
          </if>
      </set>
      where id = #{id,jdbcType=INTEGER}
  </update>
  

	
</mapper>